@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Teko', sans-serif;
    background:  linear-gradient(to left, rgb(14, 12, 22), rgb(12, 12, 14));
   
}

@keyframes gradient{
    0%{
        background-position: 0 , 50%;
    }
    50%{
        background-position: 100% , 50%;
    }
}

header{
    background-color: transparent;
    /*background: #161b22;*/
    background: linear-gradient(to bottom, transparent, rgb(7, 4, 7));
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    animation: slide-in-left 1s 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
.container{
    height: 100vh;
    
    background: linear-gradient(to left, transparent, rgb(7, 4, 7));
}
.content{
    min-height: 500px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

.header--left{
    background-color: transparent;
    width: 50%;
}
.header--right{
    background-color: transparent;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header--profile{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--photo{
    position: absolute;
    padding: 3px;
    background: linear-gradient(100deg , #ff008e, #ffcd1e 100% );
    border-radius: 50%;
    line-height: 0;
    left: 10%;
    border-radius: 50%;
    
    animation: slit-in-vertical 0.7s 3s ease-out both;
}

.header--photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: slit-in-vertical 0.7s 3s ease-out both;
}
@keyframes slit-in-vertical {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
  }
  
.header--name{
    position: absolute;
    left: 15%;
    display: flex;
    background-image:linear-gradient(90deg, #6faaaa 0%, #39c4af 33%, #08fdd8 100%);
    font-size: 20px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slit-in-vertical 0.7s 3.3s ease-out both;

}



.navigation{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation ul{
    position: absolute;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 20%;
}
.navigation ul li{
    position: relative;
    list-style: none;
    text-align: center;
    width: 95px;
    height: 50px;
    color: #fff;
    
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #eaeaf0;
}
.navigation ul li:hover a  .icon{
    transform: translateY(50px);
    background: #fff;
    color: #111;
    width: 50px; 
    height: 50px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
    
}
.navigation ul li.active a  .icon{
    color: #46d469;
}
.navigation ul li.active a .text{
    color: #46d469;
}
.navigation ul li a .text{
    position: absolute;
    
    color:  #08fdd8;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li:hover a .text{
    opacity: 1;
    transform: translateX(2px);
    font-size: 20px;
    color:  #08fdd8;
    width: 120px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    animation: transition 4s ease ;
}
@keyframes transition{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.text-reveal{
    
    overflow: hidden;
    position: relative;
}
.text-reveal::after{
    background: #46d469;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: text-reveal 5s  cubic-bezier(0.85 , 0  , 0.15 , 1) forwards;
    
}

.animation--read{
    color: #46d469;
}

    
@keyframes text-reveal{
    from {
        
        transform: translateX(-101%);
    }
    to{
        transform: translateX(101%);
    }
}
@keyframes fade{
    to{
        opacity: 1;
    }
}




.animation--text{
    font-size: 30px;
    width: 400px;
    color: #1158c7;
animation: text-shadow-drop-top 0.9s 3s both;
}


@keyframes text-shadow-drop-top {
    
    50%{
            text-shadow: 0 0 0 rgba(0, 0, 0, 0);

    }
    100% {
            text-shadow: 0 -6px 18px rgba(0, 0, 0, 0.35);
    }
}
.content--hello{
    background-image:linear-gradient(90deg, #6faaaa 0%, #39c4af 33%, #08fdd8 100%);
    animation: 10s ease alternate infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #08fdd8;
    font-size: 5rem;
    font-weight: 200;
    animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes gradient{
    0%{
        background-position: 0 , 50%;
    }
    50%{
        background-position: 100% , 50%;
    }
}

@keyframes tracking-in-expand {
    0%{
        display: none;
    }
    20%{
        display: none;
    }
    40% {
            letter-spacing: -0.5em;
            opacity: 0;
    }
    50%{
            opacity: 0.6;

    }
    100% {
      opacity: 1;
    }
  }

/* classe que remove o elemento */
.slide-out-left {
	-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  

  .content--contact{
      width: 100%;
      height: 200px;
     color: #eaeaf0;

  }


  .animation--text{
      color: #46d469;
  }




  /*animation galaxy*/

  /* Responsividade*/

  
  @media (max-width : 768px){
    
    .content{
        width: 100%;
    }
    header{
        height: 75px;
        display: flex;
        flex-direction: column;
        
        
    }
    .header--left{
        height: 45px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header--right{
        width: 100%;
        height: 40px;
        
    }
    
    .header--photo img{
        width: 25px;
        height: 25px;
    }
    .navigation{
        width: 100%;
        height: 40px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .navigation ul{
        width: 100%;
        display: flex;
        height: 40px;
        color: #fff;
        align-items: center;
        justify-content: center;
        text-align: center;
        left: 0;
    }
    .navigation ul li{
        list-style: none;
        text-align: center;
        width: 60px;
        height: 30px;
        color: #fff;
        
    }
    .navigation ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        text-align: center;
        font-weight: 500;
    }
    .navigation ul li a .icon{
       width: 60px;
       padding: auto;
       height: 40px;
        font-size: 1.5em;
        text-align: center;
        color: #eaeaf0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content--hello{
        font-size: 25px;
    }

    .header--name{
        margin-left: 30px;
    }
}

  